*{
    margin: 1px;
    padding: 1px;
    font-family: sans-serif;
}

.list{
 text-align: end;
 font-weight: bold;
 font-size: large;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: top 0;
}
header{
    background-image: url(image/paulista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 3px ;
    height: 400px;
    
}
.logo{
    position: relative;
    left: 40%;
    top: 40px;

}
figcaption{
    color: white;
    font-weight: bold;
       
}
.quem-somos{
    background-color: rgba(255,213,79,1);
    display: block;
}